# Rancher 

curl -sSL https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

helm repo add rancher-prime https://charts.rancher.com/server-charts/prime
helm repo update

helm repo add jetstack https://charts.jetstack.io
helm repo update

helm upgrade -i cert-manager jetstack/cert-manager \
  --namespace cert-manager \
  --create-namespace \
  --set crds.enabled=true

helm install rancher rancher-prime/rancher \
  --namespace cattle-system \
  --set hostname=rancher.cam.lab \
  --set bootstrapPassword=P@ssw0rd \
  --set replicas=3
