# Taint masters 

kubectl taint nodes master1 node-role.kubernetes.io/master=true:NoSchedule


# Helm
export PATH=$PATH:/usr/local/bin
echo 'export PATH=$PATH:/usr/local/bin' >> /root/.bashrc
source /root/.bashrc
curl -sSL https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

# Traefik
helm repo add traefik https://traefik.github.io/charts
helm repo update

helm upgrade --install traefik traefik/traefik \
  --namespace traefik --create-namespace \
  --set providers.kubernetesIngressNginx.enabled=true

# Rancher 
helm repo add rancher-prime https://charts.rancher.com/server-charts/prime
helm repo update

helm repo add jetstack https://charts.jetstack.io
helm repo update

helm upgrade -i cert-manager jetstack/cert-manager \
  --namespace cert-manager \
  --create-namespace \
  --set crds.enabled=true

kubectl create ns cattle-system

helm install rancher rancher-prime/rancher \
  --namespace cattle-system \
  --version 2.12.5 \
  --set hostname=rancher.cam.lab \
  --set bootstrapPassword='!%motpasse??' \
  --set replicas=3

# Get password

kubectl get secret --namespace cattle-system bootstrap-secret -o go-template='{{.data.bootstrapPassword|base64decode}}{{"\n"}}'

#Longhorn

helm repo add longhorn https://charts.longhorn.io
helm repo update
helm upgrade -i longhorn longhorn/longhorn --namespace longhorn-system --create-namespace

#ArgoCD
kubectl create namespace argocd
kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml

# Velero  CLI

curl -LO https://github.com/vmware-tanzu/velero/releases/download/v1.17.1/velero-v1.17.1-linux-amd64.tar.gz
tar -xvf velero-v1.17.1-linux-amd64.tar.gz

sudo mv velero-v1.17.1-linux-amd64/velero /usr/local/bin/
export PATH=$PATH:/usr/local/bin
echo 'export PATH=$PATH:/usr/local/bin' >> /root/.bashrc
source /root/.bashrc

# Velero Server 

cat <<EOF > credentials-velero
[default]
aws_access_key_id=minioadmin
aws_secret_access_key=minioadmin
EOF

velero install \
  --provider aws \
  --plugins velero/velero-plugin-for-aws:v1.2.1 \
  --bucket velero \
  --secret-file ./credentials-velero \
  --use-volume-snapshots=false \
  --backup-location-config region=minio,s3ForcePathStyle=true,s3Url=http://<IP_MINIO>:9000 \
  --namespace velero

# VPA

git clone https://github.com/kubernetes/autoscaler.git
cd autoscaler/
cd vertical-pod-autoscaler/
./hack/vpa-up.sh

  
